.drawerButtonDoc {
  position: fixed;
  top: 180px;
  right: 0;
  transform: translateY(-50%);
  background-color: #ef3b24;
  cursor: pointer;
  transition: right 0.3s ease-out;
  width: 45px;
  height: 111.07px;
  border-radius: 15px 0px 0px 15px;
  z-index: 1000;
}

.drawerButtonPeople {
  position: fixed;
  top: 250px;
  right: 0;
  transform: translateY(-50%);
  background-color: #F5887A;
  cursor: pointer;
  transition: right 0.3s ease-out;
  width: 51px;
  height: 100px;
  border-radius: 15px 0px 0px 15px;
  z-index: 999;
}

.drawerButtonDoc.open {
  right: 400px;
  background-color: #ef3b24;
}

.drawerButtonPeople.open {
  right: 400px;
  background-color: #F5887A;
}

.content {
  margin-top: 40px;
}

.form {
  display: flex;
  gap: 15px;
}

.text {
  font-size: 20px;
  font-weight: 500;
}

.list {
  margin-top: 28px;
}

.item {
  background: #F6F6F4;
  box-shadow: 0px 4px 16px 0px #14191A14;
  width: 300px;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0px;
}

.itemBlock {
  display: flex;
  justify-content: space-between;
  background: #F6F6F4;
  box-shadow: 0px 4px 16px 0px #14191A14;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0px;
  width: 300px;
  height: 80px; 
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.titleBlock {
  display: flex;
  flex-direction: column;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 14px;
}

.email {
  font-size: 12px;
  color: #8A8C8C;
  margin: 0;
}

.textGrey {
  color: #8A8C8C;
  font-size: 20px;
  margin: 0;
}

.greenText {
  color: #9ACA3C;
}

.orangeText {
  color: #F2994A;
}

.redText {
  color: #EF3B24;
}

.listButton {
  display: flex;
  justify-content: flex-end;
}

.textButton {
  color: #EF3B24;
  font-size: 20px;
  align-self: flex-end;
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.inputText {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
