@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.book {
  width: 100%;
  padding: $spacing-xxl;
  background-color: #F6F6F4;
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px rgba(20, 25, 26, 0.08);
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.text{
  font-size: 20px;
}
