@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.notify {
  @include layout;
}

.notifySection {
  @include section;
}

.title {
  margin-bottom: 10px;
}

.notificationsNew, .notificationsOld {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  margin: $spacing-xxl 0px;

  @include tablet {
    margin: $spacing-lg 0px;
  }

  @include mobile {
    margin: $spacing-sm 0px;
  }
}
