.main {
  display: flex;
}

.bookNoAuth {
  width: 420px;
  height: 100vh;
  box-shadow: 0px 4px 16px 0px rgba(20, 25, 26, 0.08);
  padding: 15px 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.book {
  width: 420px;
  height: 100vh;
  box-shadow: 0px 4px 16px 0px rgba(20, 25, 26, 0.08);
  padding: 15px 45px 45px 45px;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.errorText {
  margin-top: 5px;
  color: #EF3B24;
}

.textNoAuth {
  font-size: 20px;
  line-height: 24px;
  color: rgba(138, 140, 140, 1);
  margin-bottom: 25px;
}

.container {
  button {
    color: inherit;
  }
}

.timeSelects {
  display: flex;
  gap: 15px;
}

.seatText {
  font-size: 20px;
  color: rgba(20, 25, 26, 1);
}

.rs-calendar-table-cell-selected {
  background-color: rgba(239, 59, 36, 1) !important;
}

.rs-picker-toolbar {
  border-top: 1px solid rgba(239, 59, 36, 1) !important;
}

.selectedList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  gap: 14px;
  list-style: none;
  margin-top: 15px;
}

.selectedItem {
  position: relative;
  box-sizing: border-box;
  height: 27px;
  border-radius: 4px;
  border: 1px solid rgba(206, 206, 206, 1);
  padding: 15px 35px 15px 15px;
  font-size: 20px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteBtn {
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
}

.deleteBtn::before,
.deleteBtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(116, 116, 116, 1);
  transform-origin: center;
}

.deleteBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.deleteBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.noSelection {
  font-size: 12px;
  line-height: 16px;
  color: rgba(138, 140, 140, 1);
}

.invitation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toggle {
  display: flex;
  gap: 10px;
}

.checkbox {
  margin-top: auto;
  margin-bottom: 10px;
}

.map {
  width: 100%;
  margin: 92px 102px;
}

.svgContainer {
  width: 100%;
  aspect-ratio: 1101.9 / 819;
}

.colorList {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

.color {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color:not(:last-child) {
  margin-right: 70px;
}
.selected {
  fill: #9ACA3C !important;
}
.red {
  width: 40px;
  height: 40px;
  background: rgba(239, 59, 36, 1);
  margin-right: 14px;
}

.grey {
  width: 40px;
  height: 40px;
  background: rgba(184, 184, 184, 1);
  margin-right: 14px;
}

.green {
  width: 40px;
  height: 40px;
  background: rgba(154, 202, 60, 1);
  margin-right: 14px;
}

.text {
  font-size: 20px;
  line-height: 14px;
}
