@use 'variables' as *;

// Media queries
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $breakpoint-desktop) {
    @content;
  }
}

// Layout
@mixin layout {
  padding: $spacing-xxl;
  display: flex;
  justify-content: center;

  @include mobile {
    padding: $spacing-xl;
  }
}

// Section 
@mixin section {
  width: 100%;
  max-width: 1144px;
}

// Flexbox
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-container($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// Image
@mixin background-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin icon-base {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// Typography
@mixin text-style($size, $line-height, $weight: 400) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

// Status
@mixin status-style($color, $border-color) {
  padding: 5px 10px;
  @include text-style($font-size-large, 24px, 500);
  height: fit-content;
  color: $color;
  border-radius: $border-radius-xl;
  border: 1px solid $border-color;
}