.title {
  margin-bottom: 43px;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.content {
  margin-bottom: 24px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.errorText {
  margin-top: 5px;
  color: #EF3B24;
}

.switch {
  margin-top: 40px;
}

.switchButton {
  color: #005BD1;
}
