@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.reservals {
  @include layout;
}

.reservalsSection {
  @include section;
}

.title {
  margin-bottom: $spacing-sm;
}

.reservalsLast, .reservalsOld {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  margin: $spacing-xxl 0px;

  @include tablet {
    margin: $spacing-lg 0px;
  }

  @include mobile {
    margin: $spacing-sm 0px;
  }
}

.titleReservals {
  @include flex-center;
  position: relative;
  width: 100%;
  margin: $spacing-xs 0;
}

.titleReservals::before,
.titleReservals::after {
  content: '';
  flex-grow: 1;
  height: 0.5px;
  background-color: $color-primary;
  width: 100px;
}

.titleReservals::before {
  margin-right: $spacing-xl;
}

.titleReservals::after {
  margin-left: $spacing-xl;
}
