.header {
  background-color: #EF3B24;
  height: 59px;
  width: 100vw;
  display: flex;
}

.menu {
  width: 100%;
  height: 100%;
  margin: 0 9.74%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  background-image: url('../img/logo_red.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 560px;
  height: 32px;
}

.nav {
  display: flex;
  gap: 7px;
  align-items: center;
}

.infoCity {
  display: inline;
  margin-right: 7px;
}

.container {
  display: flex;
  align-items: center;
}

.city {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
}

.notify {
  background-image: url('../img/notify.svg');
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.profile {
  background-image: url('../img/profile.svg');
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0.453%;
}

.containerText {
  display: flex;
}

.containerButton {
  display: flex;
  justify-content: flex-end;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
}

.text {
  font-size: 20px;
  color: #8A8C8C;
  margin-bottom: 16px;
}

.profileImg {
  width: 40px;
  height: 40px;
  margin-right: 14px;
}
