.footer {
  background-color: #2C2726;
  display: flex;
  justify-content: space-between;
}

.footerContent {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Grtsk Mega", "Verdana", sans-serif;
  font-weight: 700;
  line-height: 32px;
  font-size: clamp(14px, 1.25vw, 24px);
  color: #FFFFFF;
}

.line {
  color: #EF3B24;
  display: block;
  height: 3px;
  border: none;
  border-top: 5px solid #EF3B24;
  width: 140px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 40px;
}

.text {
  line-height: 24px;
  font-size: clamp(12px, 1.04vw, 20px);
  font-weight: 400;
  color: #FFFFFF;
  display: flex;
}

.titleUl {
  margin-bottom: 40px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.item:not(:last-child) {
  margin-bottom: 17px;
}

.img {
  margin-right: 30px;
  width: 24px;
  height: 24px;
}

.company {
  margin-top: 150px;
}

.mapIframe {
  width: 1017px;
  height: auto;
  aspect-ratio: 1017 / 667;
  border: none;
}
