@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.inputGroup {
  @include flex-column;
  min-width: 284px;
}

.passwordWrapper {
  position: relative;
}

.inputPassword {
  width: 100%;
  padding-right: $spacing-xxl;
  box-sizing: border-box;
}

.iconButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.errorText {
  margin-top: $spacing-xs;
  color: $color-primary;
}
