.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.passwordWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.inputPassword {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.iconButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.errorText {
  margin-top: 5px;
  color: #EF3B24;
}
