.hero {
  display: flex;
  align-items: center;
  gap: 2.96%;
  margin-bottom: 6.198%;
}

.img {
  width: 49%;
}

.heroImage {
  width: 100%;
  height: auto;
  max-width: 954px;
}

.heroContent {
  width: 34.167vw;
}

.heroTitle {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 40px;
  width: 83.232%;
  padding-bottom: 6.098%;
}

.heroText {
  font-size: clamp(12px, 1.04vw, 20px);
  line-height: 24px;
  color: #8A8C8C;
  padding-bottom: 6.098%;
}

.about {
  margin-bottom: 4.167%;
  display: flex;
  align-items: center;
  position: relative;
}

.aboutContent {
  width: 54.636%;
  background-color: #F6F6F4;
  padding: 1.9271% 3.75%;
  position: absolute;
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: 9.688%;
}

.aboutTitleUl {
  font-size: clamp(20px, 1.56vw, 30px);
  line-height: 35px;
  margin-bottom: 51px;
}

.aboutTitleDecor {
  color: #EF3B24;
  font-weight: 600;
}

.aboutList {
  list-style-type: none;
  padding: 0;
}

.aboutItem {
  display: flex;
  color: #8A8C8C;
  font-size: clamp(12px, 1.04vw, 20px);
  line-height: 24px;
}

.aboutItemTitle {
  font-weight: 600;
  color: #8A8C8C;
}

.aboutItem:not(:last-child) {
  margin-bottom: 17px;
}

.aboutItemImg {
  margin-right: 37px;
  width: 24px;
  height: 24px;
}

.aboutImage {
  margin-left: auto;
}

@media (max-width: 1200px) {
  .hero {
    display: flex;
    
  }
}
